body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/736x/be/52/12/be5212e2596d4fcbc0366a79122e53af.jpg ') ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    padding-top: 150px; 
    padding-bottom: 40px; 
  }


  .header {
    width: 100%;
    background: rgb(72, 49, 38);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.footer {
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(72, 49, 38);
  }