<main class="contendor">
    <!--formulario-->
    <section class="formulario">
        <h2>Publicar nueva noticia</h2>
        <!--aqui tiene que ir un formulario para poner el titulo, url, descripcion y fecha-->
        <input type="text" placeholder="Titulo de la noticia">
        <input type="text" placeholder="URL imagen"><<!--como url??-->
        <input type="text" placeholder="Descripcion">
        <input type="text" placeholder="Fecha">
        <button>Publicar</button>
    </section>
    
    <!--lista noticias-->
    <section class="listado">
        <h2>Noticias publicadas</h2>
        <p>...Noticias...</p>
        <!--aqui tiene que ir la lista con las noticias introducidas-->
    </section>
</main>

