<main class="contendor">
    <!--formulario-->
    <section class="formulario">
        <h2>Publicar nueva noticia</h2>
        <!--aqui tiene que ir un formulario para poner el titulo, url, descripcion y fecha-->
        <input type="text" placeholder="Titulo de la noticia" [(ngModel)]="nuevaNoticia.titulo" >
        <input type="text" placeholder="URL imagen"[(ngModel)]="nuevaNoticia.imagenUrl">
        <input type="text" placeholder="Descripcion"[(ngModel)]="nuevaNoticia.descripcion">
        <input type="date" placeholder="Fecha"[(ngModel)]="nuevaNoticia.fecha">
        <button (click)="AnyadeNoticia()">Publicar</button>
    </section>
    
    <!--lista noticias-->
    <section class="listado">
        <h2>Noticias publicadas</h2>
        <hr>
        <!--aqui tiene que ir la lista con las noticias introducidas-->
        <div id="contNoticia"></div>
    </section>
</main>

